body{
    background-size: cover;
    background-position: center;  
}
#title{
    color:black;
    box-shadow: 10px;;
    margin-left:540px;
    box-shadow: 2px;
    font-size: 30px;

}
.buttons{
    color:black;
    margin-left: 350px;
    margin-bottom: 30px;
    margin-top: 20px;
    width:50%;
    border-radius: 40px;
    font-size: 18px;;
}